/*------------------------------
  Ajustes Generales
------------------------------*/
$blue : #b6ffea;
$meat : #fce2ae;
$pink : #ffb3b3;
$pastel: #ffdcf7;

.bg-primary{
  background-color: $meat !important;
}
.bg-secondary{
  background-color: $pink !important;
}
.bg-info{
  background-color: $pastel !important;
}
.bg-success{
  background-color: $blue !important;
}
.text-primary{
  color: $meat !important;
}
.text-secondary{
  color: $pink !important;
}
.text-info{
  color: $pastel !important;
}
.text-success{
  color: $blue !important;
}
.border-secondary{
  border-color: $pink !important;
}
.border-success{
  border-color: $blue !important;
}

button:hover, button:focus, a{
  outline: 0;
}
*::selection{
  background: darken($pink, 5%);
  color: white;
}



#social a{
  color: $pink;
  transition: all 0.5s ease;
}
#social a:hover{
  color: darken($pink, 10%);
  transition: all 0.5s ease;
}



/*------------------------------
  1. NAVBAR
------------------------------*/
.nav-link{
  position: relative;
  border-radius: 1rem;
  padding: 0.5rem 1rem !important;
  transition: all 0.5s ease;
}
.nav-link::after{
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  font-size: 1rem;
  right: 1.5rem;
  transition: all 0.5s ease;
}
.nav-link:hover{
  background-color: darken($pastel, 5%);
  border: 5px solid darken($pink, 10%);
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.nav-link:hover::after{
  transform: translateX(0.3rem) rotate(-180deg);
  color: darken($pink, 10%);
  transition: all 0.5s ease;
}
.active{
  background-color: $pastel;
}



/*------------------------------
  2. BANNER
------------------------------*/
#banner{
  position: relative;
  height: 100vh;
  background-image: url("../images/cupcakes-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
#banner::after{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $meat;
  opacity: 0.6;
  z-index: 1;
}
#banner .container{
  position: relative;
  z-index: 2;
}



#col-swiper{
  position: relative;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 300px;
  text-align: center;
  font-size: 18px;
  background: $pastel;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: darken($meat, 10%);
}



/*------------------------------
  MEDIA QUERIES
------------------------------*/
@media screen and (max-width: 767px){

}
@media screen and (min-width: 768px) and (max-width: 1023px){
  #banner{
    background-image: url("../images/cupcakes-md.jpg");
  }
}
@media screen and (min-width: 1024px){
  //NAVBAR
  .nav-link::after{
    content: "";
  }
  .nav-item{
    height: 2.5rem;
  }
  .nav-link{
    height: 4.5rem;
    top: -1rem;
    align-items: center;
    display: flex;
    border-radius: 0;
  }
  .nav-link:hover{
    border-radius: 0;
    border: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    display: grid !important;
  }
  //BANNER
  #banner{
    background-image: url("../images/cupcakes-lg.jpg");
  }
  //GALERY
  .swiper-slide{
    height: 400px;
  }
}
