/*------------------------------
  Ajustes Generales
------------------------------*/
.bg-primary {
  background-color: #fce2ae !important; }

.bg-secondary {
  background-color: #ffb3b3 !important; }

.bg-info {
  background-color: #ffdcf7 !important; }

.bg-success {
  background-color: #b6ffea !important; }

.text-primary {
  color: #fce2ae !important; }

.text-secondary {
  color: #ffb3b3 !important; }

.text-info {
  color: #ffdcf7 !important; }

.text-success {
  color: #b6ffea !important; }

.border-secondary {
  border-color: #ffb3b3 !important; }

.border-success {
  border-color: #b6ffea !important; }

button:hover, button:focus, a {
  outline: 0; }

*::-moz-selection {
  background: #ff9a9a;
  color: white; }

*::selection {
  background: #ff9a9a;
  color: white; }

#social a {
  color: #ffb3b3;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#social a:hover {
  color: #ff8080;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

/*------------------------------
  1. NAVBAR
------------------------------*/
.nav-link {
  position: relative;
  border-radius: 1rem;
  padding: 0.5rem 1rem !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.nav-link::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  font-size: 1rem;
  right: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.nav-link:hover {
  background-color: #ffc3f1;
  border: 5px solid #ff8080;
  border-radius: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.nav-link:hover::after {
  -webkit-transform: translateX(0.3rem) rotate(-180deg);
          transform: translateX(0.3rem) rotate(-180deg);
  color: #ff8080;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.active {
  background-color: #ffdcf7; }

/*------------------------------
  2. BANNER
------------------------------*/
#banner {
  position: relative;
  height: 100vh;
  background-image: url("../images/cupcakes-sm.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }

#banner::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fce2ae;
  opacity: 0.6;
  z-index: 1; }

#banner .container {
  position: relative;
  z-index: 2; }

#col-swiper {
  position: relative;
  height: 100%; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  height: 300px;
  text-align: center;
  font-size: 18px;
  background: #ffdcf7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fad07d; }

/*------------------------------
  MEDIA QUERIES
------------------------------*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #banner {
    background-image: url("../images/cupcakes-md.jpg"); } }
@media screen and (min-width: 1024px) {
  .nav-link::after {
    content: ""; }

  .nav-item {
    height: 2.5rem; }

  .nav-link {
    height: 4.5rem;
    top: -1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 0; }

  .nav-link:hover {
    border-radius: 0;
    border: 0; }

  .navbar-expand-lg .navbar-collapse {
    display: grid !important; }

  #banner {
    background-image: url("../images/cupcakes-lg.jpg"); }

  .swiper-slide {
    height: 400px; } }

/*# sourceMappingURL=style.css.map */